<ion-view cache-view="false" title="Events">
  
    <style>
        #ion-content-events
        {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+50,a1dbff+100 */
            background: #f0f9ff; /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover,  #f0f9ff 0%, #cbebff 50%, #a1dbff 100%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover,  #f0f9ff 0%,#cbebff 50%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center,  #f0f9ff 0%,#cbebff 50%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        }
    </style>
    
    <ion-nav-buttons side="left">
 <button ng-show="supporter" class="button button-clear" ui-sref="home.discover"><i class="icon ion-chevron-left" ></i> </button>

<button ng-hide="supporter" class="button button-clear" ui-sref="guest.events"><i class="icon ion-chevron-left" ></i> </button>
</ion-nav-buttons>
    
    <ion-content padding="false" id="ion-content-events" class="manual-ios-statusbar-padding">
    
        <ion-refresher spinner="bubbles" on-refresh="doRefresh()"></ion-refresher>
        
        <ion-list>
            <div class="list card" ng-repeat="event in events | orderBy: '-event_created'">
                <div class="item item-avatar item item-button-right" ng-click="goToEventView(event.id)">
                    <img src="{{i || 'img/EventIcon.jpg'}}">               
                    <h2><b>{{event.title}}</b></h2>
                    Hosted by: {{event.ent_name}}<br><br>
                    Date: {{event.start_time | amCalendar:referenceTime:formats}}<br>
                    Time: {{event.start_time | amDateFormat:'h:mm a'}}<br>
                    Place: {{event.city_name}}
                    <br><br>
                </div>
            </div>
        </ion-list>
    
    </ion-content>
</ion-view>


