<ion-view cache-view="false" title="Post">
     
    <style>
        #ion-content-posts
        {
            background: url(img/testing.png) no-repeat center;
            background-size:cover;
        }
    </style>
    
    <ion-nav-buttons side="left">
 <button ng-show="u" class="button button-clear" ui-sref="home.discover"><i class="icon ion-chevron-left" ></i> </button>

<button ng-hide="u" class="button button-clear" ui-sref="guest.events"><i class="icon ion-chevron-left" ></i> </button>
</ion-nav-buttons>
    
    <ion-content padding="false" class="manual-ios-statusbar-padding">
    
        <ion-refresher spinner="bubbles" on-refresh="doRefresh()"></ion-refresher>
        
        <ion-list>  
            <div class="list card" ng-repeat="post in posts | orderBy: '-post_created'">
                <div class="item item-avatar item item-button-right" >
                    <img src="{{entityAdmin.photo || 'img/texticon.png'}}">
                    <h2><b>{{post.ent_name}}</b></h2>
                    <p>Posted: <span am-time-ago="post.post_created"></span></p>
                    <br>
                    <h3>{{post.post_message}}</h3>      
                </div>
            </div>
        </ion-list>
   
    </ion-content>

</ion-view>