<ion-view class="browse-view" view-title="Browse">

<!--
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        <i class="icon ion-grid"></i> Categories
      </div>
      <div class="row categories-outer">
        <div ng-repeat="category in categories" class="col col-50 category-item-outer">
          
            <div class="category-item-wrapper">
              <div class="category-item-content" ng-init="bg_img = category.image">
                <div multi-bg="[bg_img]" interval="3000" helper-class="category-with-image">
                  <h1 class="category-title">{{category.name}}</h1>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
-->





<ion-view title="Browse for entities" >
    <ion-content padding="true" style="background: url(img/blurry_abstract-2560x1600.jpg) no-repeat center;background-size:cover;">
        
        
     <br>
        <br>
        
<div class="row">
<div class="col"></div>
    <a ui-sref="animals"  style="font-weight:700;color:white;text-align:left;" class=" button button-dark button-large button-clear icon-left ion-ios-paw ">Animals</a>
  <div class="col"></div><div class="col"></div><div class="col"></div>
            
  <a href="#"  style="font-weight:700;text-align:left;" class=" button button-dark button-large button-clear icon-left ion-android-favorite ">Health</a>  
<div class="col"></div><div class="col"></div>          
</div>
     
            
   <br><br> 

        
<div class="row">
  
<div class="col"></div>
    <a ui-sref="animals"  style="font-weight:700;color:white;text-align:left;" class=" button button-dark button-large button-clear icon-left ion-ios-paw ">Nature  </a>
  <div class="col"></div><div class="col"></div><div class="col"></div>
            
  <a href="#"  style="font-weight:700;text-align:left;" class=" button button-dark button-large button-clear icon-left ion-android-favorite ">Hunger</a>  
<div class="col"></div><div class="col"></div>
           
</div>
        
           <br>    <br> 

                
<div class="row">
  
<div class="col"></div>
    <a ui-sref="animals"  style="font-weight:700;color:white;text-align:left;" class=" button button-dark button-large button-clear icon-left ion-ios-paw ">Children</a>
  <div class="col"></div><div class="col"></div><div class="col"></div>
            
  <a href="#"  style="font-weight:700;text-align:left;" class=" button button-dark button-large button-clear icon-left ion-android-favorite ">Disaster</a>  
<div class="col"></div><div class="col"></div>
           
</div>
        
        <br>    <br> 


        
<div class="row">
  
<div class="col"></div>
    <a ui-sref="animals"  style="font-weight:700;color:white;text-align:left;" class=" button button-dark button-large button-clear icon-left ion-ios-paw ">Education</a>
  <div class="col"></div><div class="col"></div><div class="col"></div>
            
  <a href="#"  style="font-weight:700;text-align:left;" class=" button button-dark button-large button-clear icon-left ion-android-favorite ">Health</a>  
<div class="col"></div><div class="col"></div>
           
</div>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </ion-content>
</ion-view>











