<!--Change password view-->
<ion-view cache-view="false" title="Change Password" hide-back-button="false">
    
    <style>
        #spacer
        {
            width: 300px; 
            height: 25px;
        }
        
        #to-forgot-password-button
        {
            margin: 0 120px 10px 0; 
            color:#5b12b1; text-decoration:none;
        }
        
        span
        {
            margin-left: 1.618%;
        }
        
        label
        {
            border-radius: 13px;
        }
        
        input
        {
            width: 84%;
        }
    </style>
    
    <ion-nav-buttons side="left">
        <button ng-show='0' class="button button-icon button-clear ion-navicon" menu- toggle="left"></button>
    </ion-nav-buttons>
    
    <ion-content padding="true" class="has-header" scroll="true">
        
        <div class="spacer" id="spacer"></div>
        
        <form id="login-form2" class="list" >
            
            <span class="input-label" style="width: 50%;">Current Password</span>
            <label class="item item-input item-stacked-label">
                
                <input type="password" ng-model="data.current_password" placeholder="Current Password">
            </label>
            
            <div class="spacer" id="spacer"></div>
            
            <span class="input-label">New Password</span>
            <label class="item item-input item-stacked-label">
                
                <input type="password" ng-model="data.new_password" placeholder="New Password">
            </label>
            
            <span class="input-label" style="width:50%;">Confirm new password</span>
            <label class="item item-input item-stacked-label">
                
                 <input type="password" ng-model="data.new_passconf" placeholder="Re-type new password">
            </label>
            
            <br>
            
            <a ng-click="submit()" class="button button-royal button-inline block">
                Change Password
            </a>
            
            <br>
            
            <a ui-sref="settings" class="button button button-inline block button-assertive">Cancel</a>
        
        </form>
    
    </ion-content>
</ion-view>