<ion-view title="Dashboard" id="page11" class=" ">
    <ion-tabs class="tabs-stable tabs-icon-top tabs-royal" >
        
        <ion-tab title="Post" icon="ion-compose" href="#/dashboard/Enewsfeed" id="home-tab11" class=" ">
            <ion-nav-view name="tab11"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Post Volunteering" icon="ion-ios-people" href="#/dashboard/Evolunteer" id="home-tab22" class=" ">
            <ion-nav-view name="tab22"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Post Events" icon="ion-android-calendar" href="#/dashboard/Eevents" id="home-tab33" class=" ">
            <ion-nav-view name="tab33"></ion-nav-view>
        </ion-tab>

<!--
        <ion-tab title="Post Donation" icon=" ion-medkit" href="#/dashboard/Edonate" id="home-tab44" class=" ">
        <ion-nav-view name="tab44"></ion-nav-view>
        </ion-tab>
-->

    </ion-tabs>
</ion-view>

<!--ion-ios-briefcase-->