<ion-view title="Donate" id="page11">
    <ion-content padding="true" style="background: url(img/blurry_abstract-2560x1600.jpg) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="donate-heading15" style="color:#000000;font-weight:400;text-align:center;">Help. Give. Share.</h2>
<!--
        <ion-list id="donate-list19">
            <ion-item class="item-divider " id="donate-list-item-divider12">Select an entity</ion-item>
            <label class="item item-select " id="donate-select3">
                <span class="input-label">Entities</span>
                <select>
                    <option>Save A Panda</option>
                    <option>Rescue the Dogs</option>
                    <option>Help the Elderly</option>
                </select>
            </label>
            <ion-item class="item-divider " id="donate-list-item-divider13">Specified the type of item</ion-item>
            <label class="item item-select " id="donate-select4">
                <span class="input-label">category</span>
                <select>
                    <option>Clothes</option>
                    <option>Canned Foods</option>
                    <option>First Aid</option>
                </select>
            </label>
            <ion-item class="item-divider " id="donate-list-item-divider14">Quantity</ion-item>
            <ion-item class="range range-royal " id="donate-range1">Range
                <input type="range" value="50" min="1" max="1000">
            </ion-item>
            <ion-item class="item-divider " id="donate-list-item-divider15">Will be delivered on</ion-item>
            <label class="item item-input " id="donate-input7">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
        </ion-list>
        <button id="donate-button8" class=" button button-royal  button-block ">Submit</button>
-->
    </ion-content>
</ion-view>