<!--edit supporters profile-->
<ion-view cache-view="false" title="Edit profile information">
    
    <ion-content  padding="true" style="background: url(img/blurry_abstract-2560x1600.jpg) no-repeat center;background-size:cover;" class="has-header">
        
        <div>
        <ion-profile-picture ng-model="eavatar"/>
        </div>
        
        <div id="profile-bg"></div>
        <div id="profile-info-user"></div>
        <img id="profile-image-users" ng-src="{{ info1 || 'img/ionic2.png'}}"/>
        <input type="file" file-model="data.userfile">
       
        <div class="button-bar button-pill">
            <button class="button" ng-click="submitPicture()" style="color: #583faa;"><strong>Submit Photo</strong></button>
        </div><br>

        <ion-list>
            <ion-item class="item-divider custom-item-divider item-icon-right"> 
                <i class="icon ion-edit"></i>Edit information 
            </ion-item>
                
            <label class="item item-input">
                <span class="input-label">About</span>
                     <textarea ng-model="data.message.sup_about" style="color:black" rows="5" cols="50" placeholder="{{data.message.sup_about}}" type="tel"></textarea>
            </label>
                            
            <label class="item item-input">
                <span class="input-label">First Name</span>
                <input type="text" name="fname" ng-model="data.message.sup_fname" placeholder="{{data.message.sup_fname}}">
            </label>
                    
            <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input type="text" name="lname" ng-model="data.message.sup_lname" placeholder="{{data.message.sup_lname}}">            
            </label>
                    
            <label class="item item-input">
                <span class="input-label">Phone</span>
                <input type="tel" ng-model="data.message.sup_phone" placeholder="{{data.message.sup_phone}}">
            </label>
                
            </label>
                <label class="item item-input">
                    <span class="input-label">Zip Code</span>
                    <input type="text" ng-model="data.message.sup_zip" placeholder="{{data.message.sup_zip}}">
            </label>
                
            <label class="item item-input">
                <span class="input-label">Age</span>
                <input type="number" ng-model="data.message.sup_age" placeholder="Age" value="{{data.message.sup_age}}">
            </label>
                
            <label class="item item-select">
                <span class="input-label">Gender</span>
                <select ng-model="data.message.sup_gender">
                    <option value="male">male</option>
                    <option value="female">female</option>
                </select>
            </label>
                
    <ion-item ng-click="skillFunct()" class="item-divider item-icon-right custom-item-divider">
        <b>Skills (Still in development, do not click!)</b> 
        <i class="icon ion-chevron-down"></i>
    </ion-item>
        
   <div ng-show="showSkill" class="dropdown">  
       <ion-checkbox ng-repeat="skill in data.message.skills" class="item item-checkbox checkbox-royal" name="skills[]"
        ng-checked="data.message.skills[$index].checked"
        ng-model="data.message.skills[$index].checked">
           {{skill.text}} 
        </ion-checkbox>
    </div>      
                
        <ion-item ng-click="interestsFunct()" class="item-divider item-icon-right custom-item-divider">
            <b>Interests (Still in development, do not click!)</b> 
            <i class="icon ion-chevron-down"></i>
        </ion-item>
        
        <div ng-show="showInterests" class="dropdown">
            <ion-checkbox  class="checkbox-royal" ng-model="isChecked">
                Checkbox Label
            </ion-checkbox>
        </div>
        
        <button type="submit" ng-click="UpdateData()" class=" button button-royal  button-block ">Save</button>
        
        </ion-list>            
    </ion-content>
</ion-view>