<ion-view cache-view="false" title="Edit profile">
    
    
    <style>
        span
        {
            margin-left: 1.618%;
        }
        
        label
        {
            border-radius: 13px;
            padding: 10px;
        }
        
        .item
        {
            margin-bottom: 10px;
        }
        
        #selector-dropdown-fix
        {
            padding: 21px;
            border-radius: 13px;
        }
        
        .input-label
        {
            width: 50%;
        }
        
        textarea
        {
            color: black;
        }
        
        input
        {
            width: 84%;
        }
    </style>
    
 <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="cancelEdit()"><i class="icon ion-chevron-left" ></i> </button>
    </ion-nav-buttons>
    
    <ion-content padding="true" class="has-header">
        
        <div class="center profile">
            <img file-model="data.userfile" ng-src="{{info1 || 'img/ionic2.png'}}" style="margin-top: 0;" />
        </div>
        <input type="file" file-model="data.userfile">
        
        <form novalidate name="myForm" class="list">
            
            <ion-item class="item-divider custom-item-divider item-icon-right">
                <i class="icon ion-edit"></i>Edit information
            </ion-item>

            <span class="input-label">About</span>
            <label class="item item-input">
                <textarea ng-model="info.message.sup_about" rows="5" cols="50" placeholder="{{info.message.sup_about}}" type="tel">
                </textarea>
            </label>
            
            <span class="input-label">First Name</span>
            <label class="item item-input">
                <input type="text" name="fname" ng-model="info.message.sup_fname"  ng-minlength="2" ng-maxlength="25" placeholder="First name" ng-required="true" ng-pattern="/^[a-zA-Z ]+$/">
            </label>
            <div ng-messages="myForm.fname.$error" ng-if="myForm.fname.$touched">
                <div ng-message="required" id="input-error">The first name field is required!</div>
                <div ng-message="pattern" id="input-error">The first name has to be in letters only!</div>
                <div ng-message="minlength" id="input-error">The first name needs at least 2 characters long.</div>
                <div ng-message="maxlength" id="input-error">The first name needs at less or equal than 25 characters long.</div>
            </div>

            <span class="input-label">Last Name</span>
            <label class="item item-input">
                <input type="text" name="lname" ng-model="info.message.sup_lname" ng-minlength="2" ng-maxlength="25" placeholder="Last name" ng-required="true" ng-pattern="/^[a-zA-Z ]+$/">
            </label>
            <div ng-messages="myForm.lname.$error" ng-if="myForm.lname.$touched">
                <div ng-message="required" id="input-error">The last name field is required!</div>
                <div ng-message="pattern" id="input-error">The last name has to be in letters only!</div>
                <div ng-message="minlength" id="input-error">The last name needs at least 2 characters long.</div>
                <div ng-message="maxlength" id="input-error">The last name needs at less or equal than 25 characters long.</div>
            </div>
            
            
            <span class="input-label">Phone</span>
            <label class="item item-input">
                <input name="sup_phone" type="tel" ng-model="info.message.sup_phone" placeholder="{{info.message.sup_phone}}">
            </label>
            <div ng-messages="myForm.sup_phone.$error" ng-if="myForm.fname.$touched">
                <div ng-message="tel" id="input-error">The input phone is in the wrong format.</div>
            </div>
            
            <span class="input-label">City</span>
            <label class="item item-select" id="selector-dropdown-fix" style="padding: 21px;">
                        <select name="city" ng-model="info.message.city_name" style="padding: 21px;">
                            <option value="Adjuntas">Adjuntas</option>
                            <option value="Aguada">Aguada</option>
                            <option value="Aguadilla">Aguadilla</option>
                            <option value="Aguas Buenas">Aguas Buenas</option>
                            <option value="Aibonito">Aibonito</option>
                            <option value="Añasco">Añasco</option>
                            <option value="Arecibo">Arecibo</option>
                            <option value="Arroyo">Arroyo</option>
                            <option value="Barceloneta">Barceloneta</option>
                            <option value="Barranquitas">Barranquitas</option>
                            <option value="Bayamón">Bayamón</option>
                            <option value="Cabo Rojo">Cabo Rojo</option>
                            <option value="Caguas">Caguas</option>
                            <option value="Camuy">Camuy</option>
                            <option value="Canóvanas">Canóvanas</option>
                            <option value="Carolina">Carolina</option>
                            <option value="Carolina-Isla Verde">Carolina-Isla Verde</option>
                            <option value="Cataño">Cataño</option>
                            <option value="Cayey">Cayey</option>
                            <option value="Ceiba">Ceiba</option>
                            <option value="Ciales">Ciales</option>
                            <option value="Cidra">Cidra</option>
                            <option value="Coamo">Coamo</option>
                            <option value="Comerío">Comerío</option>
                            <option value="Corozal">Corozal</option>
                            <option value="Culebra">Culebra</option>
                            <option value="Dorado">Dorado</option>
                            <option value="Fajardo">Fajardo</option>
                            <option value="Florida">Florida</option>
                            <option value="Guánica">Guánica</option>
                            <option value="Guayama">Guayama</option>
                            <option value="Guayanilla">Guayanilla</option>
                            <option value="Guaynabo">Guaynabo</option>
                            <option value="Gurabo">Gurabo</option>
                            <option value="Hatillo">Hatillo</option>
                            <option value="Hormigueros">Hormigueros</option>
                            <option value="Humacao">Humacao</option>
                            <option value="Humacao-Palmas">Humacao-Palmas</option>
                            <option value="Isabela">Isabela</option>
                            <option value="Jayuya">Jayuya</option>
                            <option value="Juana Díaz">Juana Díaz</option>
                            <option value="Juncos">Juncos</option>
                            <option value="Lajas">Lajas</option>
                            <option value="Lares">Lares</option>
                            <option value="Las Marías">Las Marías</option>
                            <option value="Las Piedras">Las Piedras</option>
                            <option value="Loíza">Loíza</option>
                            <option value="Luquillo">Luquillo</option>
                            <option value="Manatí">Manatí</option>
                            <option value="Maricao">Maricao</option>
                            <option value="Maunabo">Maunabo</option>
                            <option value="Mayagüez">Mayagüez</option>
                            <option value="Moca">Moca</option>
                            <option value="Morovis">Morovis</option>
                            <option value="Naguabo">Naguabo</option>
                            <option value="Narajitos">Naranjitos</option>
                            <option value="Orocovis">Orocovis</option>
                            <option value="Patillas">Patillas</option>
                            <option value="Peñuelas">Peñuelas</option>
                            <option value="Ponce">Ponce</option>
                            <option value="Quebradillas">Quebradillas</option>
                            <option value="Rincón">Rincón</option>
                            <option value="Río Grande">Río Grande</option>
                            <option value="Sabana Grande">Sabana Grande</option>
                            <option value="Salinas">Salinas</option>
                            <option value="San Germán">San Germán</option>
                            <option value="San Juan">San Juan</option>
                            <option value="San Juan, Condado">San Juan, Condado</option>
                            <option value="San Juan, Hato Rey">San Juan, Hato Rey</option>
                            <option value="San Juan, Santurce">San Juan, Santurce</option>
                            <option value="San Juan, Viejo San Juan">San Juan, Viejo San Juan</option>
                            <option value="San Lorenzo">San Lorenzo</option>
                            <option value="San Sebastián">San Sebastián</option>
                            <option value="Santa Isabel">Santa Isabel</option>
                            <option value="Toa Alta">Toa Alta</option>
                            <option value="Toa Baja">Toa Baja</option>
                            <option value="Toa Baja, Levittown">Toa Baja, Levittown</option>
                            <option value="Trujillo Alto">Trujillo Alto</option>
                            <option value="Utuado">Utuado</option>
                            <option value="Vega Alta">Vega Alta</option>
                            <option value="Vega Baja">Vega Baja</option>
                            <option value="Vieques">Vieques</option>
                            <option value="Villalba">Villalba</option>
                            <option value="Yabucoa">Yabucoa</option>
                            <option value="Yauco">Yauco</option>
                        </select>
                    </label>

            <span class="input-label">Zip Code</span>
            <label class="item item-input">
                <input name="sup_zip" type="tel" ng-model="info.message.sup_zip" placeholder="Zip code" ng-pattern="/^(\d{5}([\-]\d{4})?)$/i">
            </label>
            <div ng-messages="myForm.zip.$error" ng-if="myForm.zip.$touched">
                <div ng-message="required" id="input-error">The zipcode field is required!</div>
                <div ng-message="pattern" id="input-error">The zipcode needs to be in the american zipcode format!</div>
            </div>
            

            <span class="input-label">Age</span>
            <label class="item item-input">
                <input type="number" ng-model="info.message.sup_age" placeholder="{{info.message.sup_age}}">
            </label>

            <span class="input-label">Gender</span>
            <label class="item item-select">
                <select ng-model="info.message.sup_gender">
                    <option value="male">male</option>
                    <option value="female">female</option>
                </select>
            </label>

            <ion-item ng-click="skillFunct()" class="item-divider item-icon-right custom-item-divider">
                <b>Skills</b>
                <i class="icon ion-chevron-down"></i>
            </ion-item>
                    
            <div ng-show="showSkill" class="dropdown">
                <ion-checkbox ng-repeat="skill in info.message.skills" ng-checked="skill.checked" class="item item-checkbox checkbox-royal" ng-model="skill.checked">
                    {{skill.text}}
                </ion-checkbox>
            </div>
                    
            <ion-item class="item-divider item-icon-right custom-item-divider" ng-click="interestsFunct()">
                <b>Interests</b>
                <i class="icon ion-chevron-down"></i>
            </ion-item>
                    
            <div ng-show="showInterests" class="dropdown">
                <ion-checkbox ng-repeat="interest in info.message.interests" class="item item-checkbox checkbox-royal" ng-checked="interest.checked" ng-model="interest.checked">
                    {{interest.text}} 
                </ion-checkbox>
            </div>
                        <ion-toggle ng-model="info.message.sup_privacy" ng-checked="info.message.sup_privacy" style="border-radius: 13px;">Privacy</ion-toggle>
            
            <button type="submit" ng-click="UpdateData()" class="button button-balanced button-block">Save profile</button>
            <button class="button button-block button-assertive" ng-click="cancelEdit()">
                Cancel
            </button>
        </form>
    </ion-content>
</ion-view>