<!--Ya-->
<ion-view title="In|vo|lu|kra|t!" hide-back-button="true" id="page12">
    
    <style>
 
        #spacer-alt
        {
            width: 300px; 
            height: 153px;
        }
        
        .success-paragraph-text
        {
            color:white; 
            font-size:25px; 
            text-align:center;
        }
    </style>
    
    <ion-content padding="true" class="has-header" scroll="false">
        
        <div class="card">
            <div class="item item-text-wrap" style="font-size:20px; text-align:center;">
                <b>Password Recovery</b>
            </div>
            <div class="item item-divider"></div>
            <div class="item item-text-wrap">A link has been sent to your email in order to reset the password.</div>
            <div class="item item-divider">Note: If you do not see an email in your email with the instructions to </div>
            <a class="button button-block icon-right ion-home button-calm" ui-sref="login">Return to the login page</a>
        </div>
    
    </ion-content>
</ion-view>