<ion-view title="Events" id="page9" class=" ">
    <ion-content padding="true" style="background: url(img/blurry_abstract-2560x1600.jpg) no-repeat center;background-size:cover;">
        
        
             
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
        
        <ion-list id="events-list13" class=" ">
            <ion-item class="item-thumbnail-left  " id="events-list-item31">
                <h2>Save the Pandas</h2>
                <p style="white-space:normal;">Date, Location</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 11px;"></div>
        <ion-list id="events-list25" class=" ">
            <ion-item class="item-thumbnail-left  " id="events-list-item17">
                <h2>Help the Elderly</h2>
                <p style="white-space:normal;">Date, Location</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 11px;"></div>
        <ion-list id="events-list26" class=" ">
            <ion-item class="item-thumbnail-left  " id="events-list-item23">
                <h2>Bring Smiles</h2>
                <p style="white-space:normal;">Date, Location</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 11px;"></div>
        <ion-list id="events-list28" class=" ">
            <ion-item class="item-thumbnail-left  " id="events-list-item36">
                <h2>Save a Cat</h2>
                <p style="white-space:normal;">Date, Location</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 11px;"></div>
        <ion-list id="events-list27" class=" ">
            <ion-item class="item-thumbnail-left  " id="events-list-item32">
                <h2>Save the Dogs</h2>
                <p style="white-space:normal;">Date, Location</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 11px;"></div>
    </ion-content>
</ion-view>