<!--Forgot password view-->
<ion-view title="Forgot Password?" hide-back-button="false">
    <ion-content padding="true" style="background: url(img/blurry_abstract-2560x1600.jpg) no-repeat center;background-size:cover;" class="has-header">
        
        <div class="spacer" style="width: 300px; height: 50px;"></div>        
        <p style="color:white;font-size:40px; text-align:center;" class="">
            <b>Recover Your <br><br> Password</b>
        </p>
        
        <br>
        <br>
        <hr>
        <br>
        <br>
        
        <p style="color:white; font-size:20px; text-align:left;">
            Enter your email address and we'll send you a recovery link.
        </p>
        
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        
        <form  name="myForm" class="list" novalidate>
            <label class="item item-input">
                <input type="email" name="email" ng-model-options="{updateOn: 'blur'}" 
                       placeholder="Enter your email address" ng-model="data.email" requiered>
                <span ng-show="myForm.email.$error.required">Email is required.</span>
            </label>
            
            <a ng-click="submit()" ui-sref="emailSent" type="submit" class="button button-royal button-inline block" ng-disabled="myForm.email.$invalid || myForm.email.$untouched">
                Send Email
            </a>
        </form>
        
    </ion-content>
</ion-view>