<!--Forgot password view-->
<ion-view title="Password Recovery">
    
    <style>
            input:focus
            {
               
            }

            .card .item:last-child
            {
                border-bottom: 1px solid lightblue;
            }
            
            a.item
            {
                background-color: #F3F3F3;
            }
            
            a.item:hover
            {
                background-color: lightblue;
                -webkit-transition: all 0.618s ease-in-out; /* Safari 3.1 to 6.0 */
                -moz-transition:all 0.618s ease-in-out;
                -ms-transition:all 0.618s ease-in-out;
                -o-transition:all 0.618s ease-in-out;
                transition: all 0.618s ease-in-out;
            }
            
            #recover-password-title
            {
                text-align: center;
            }
            
            #enter-your-email-forgot-password
            {
                text-align: center;
            }
            
            #input-error
            {
                color: red;
            }
            
            #help-button-forgot-password
            {
                border:1; 
                border-radius: 13px;
            }
            
        </style>
    
    <ion-nav-buttons side="left">
        <button ng-show='0' class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header" scroll="false">
        
        <div class="list card">
    
            <div class="item item-text-wrap" id="recover-password-title">
                <h1>Recover your password</h1>
            </div>
            
            <div class="item item-divider">
                <p id="enter-your-email-forgot-password">Please enter your email address to recover your forgotten password.</p>
            </div>
            
            <div class="item item-body">
                
                <form name="myForm" class="list" novalidate>
                    
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Email address</span>
                        <input name="forgotPasswordEmail" type="email" placeholder="Please, enter your email address" ng-model="data.email" ng-required="true">
                    </label>
                    
                    <div ng-messages="myForm.forgotPasswordEmail.$error" ng-if="myForm.forgotPasswordEmail.$touched">
                        <div ng-message="required" id="input-error">The email confirmation field is required!</div>
                        <div ng-message="pattern" id="input-error">The email confirmation does not equal the email input!</div>
                        <div ng-message="email" id="input-error">The email inputed is invalid.</div>
                    </div>
                
                </form>
                
                <small><b>Example:</b> example@domain.com</small>
        
                <a ng-click="submit()" ui-sref="emailSent" type="submit" class="button button-positive button-block" ng-disabled="myForm.forgotPasswordEmail.$invalid || !myForm.forgotPasswordEmail.$touched || myForm.forgotPassword.length === 0">
                Recover password
                </a>
                     <button class="button button-block button-assertive" ng-click="cancelForgotPasswordButton()">Cancel</button>

            </div>
            
            <div class="item item-divider">
                <a class="item item-icon-left hovering" id="help-button-forgot-password" ng-click="showHelpForgotPassword()">
                    <i class="icon ion-help-circled balanced"></i>
                    Password recovery help
                </a>
            </div>
        
            
        </div>
                
    </ion-content>
</ion-view>
