<!--Role decision-->
<ion-view title="Role Decision">
    
  <div class="tabs-striped tabs-top tabs-icon-top tabs-background-royal tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#">
        <i class="icon ion-ios-paper"></i>
        Text Posts
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-ios-people"></i>
        Volunteering
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-android-calendar"></i>
        Events
      </a>
    </div>
  </div>
    
    
    <ion-content padding="false" style="background: url(img/blurry_abstract-2560x1600.jpg) no-repeat center;background-size:cover;"class="manual-ios-statusbar-padding">
        
                  <div class="spacer" style="width: 300px; height: 50px;"></div>    
        
        </ion-list>
        <div class="spacer" style="width: 300px; height: 11px;"></div>
        <ion-list id="volunteering-list11" class=" ">
            <ion-item class="item-thumbnail-left  " id="volunteering-list-item25">
                <img src="img/diMEFaSnSKu0LMjx983w_Fundraiser.jpg">
                <h2>Help our fundraiser!</h2>
                <p style="white-space:normal;">Entity name, location, date,etc.</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 11px;"></div>
        <ion-list id="volunteering-list12" class=" ">
            <ion-item class="item-thumbnail-left  " id="volunteering-list-item30">
                <img src="img/W6jOONApRfyHCzVm1Xfc_Help_the_elders.jpg">
                <h2>Help us at the X Home</h2>
                <p style="white-space:normal;">Entity name, location, date,etc.</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 11px;"></div>
        <ion-list id="volunteering-list14" class=" ">
            <ion-item class="item-thumbnail-left  " id="volunteering-list-item26">
                <img src="img/IB0lpR3MSxaACzxhw9M2_feed_the_homeless.jpg">
                <h2>Help to feed the homeless</h2>
                <p style="white-space:normal;">Entity name, location, date,etc.</p>
            </ion-item>
        </ion-list>
        
        
        
        
        
        
        
        
    </ion-content>
</ion-view>