<!--Guest page html-->
<!--I need to pass css to file.-->
<ion-view title="Explore & Discover">
    <style>
        
        #explore_header
        {
            text-align:center; 
            font-size: large;
        }
        
        #role_card_img
        {
            margin-top: 3px; 
            margin-bottom: 5px;
        }
        
        #role_card_button
        {
           font-weight:600; 
        }
        
        #role_card_supporter
        {
            margin-bottom: 13px;
        }
        
         #ion-content-events
        {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+50,a1dbff+100 */
            background: #f0f9ff; /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover,  #f0f9ff 0%, #cbebff 50%, #a1dbff 100%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover,  #f0f9ff 0%,#cbebff 50%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center,  #f0f9ff 0%,#cbebff 50%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
        
    </style>

    <ion-nav-buttons side="left">
        <button ng-show='0' class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    
    <ion-content scroll="true"  id="ion-content-events" padding="false">    
        
        <div class="card" id="explore_header">
            <div class="item item-text-wrap">
                <b>Explore Organizations and Opportunities</b>
            </div>
        </div>
        
        <div class="list card">
            <div class="item item-image">
                <img id="profile-image-login role_card_img" src="img/involukrate.png">
            </div>
            <a ui-sref="guest.events" id="role_card_button" class="button button-balanced button-large button-inline block icon-left ion-ios-paper">
                <b>Recent Activities</b>
            </a>
        </div>
        
        <div class="list card" id="role_card_supporter">
            <div class="item item-image">
                <img id="profile-image-login role_card_img" src="img/involukrate.png">
            </div>
            
            <a ui-sref="categories" id="role_card_button" class="button button-balanced button-large button-inline block icon-left ion-search">
                <b>Discover Entities</b>
            </a>
        </div>
        
    </ion-content>
</ion-view>