<!--Ya-->
<ion-view title="Home" id="page1">
    
    <ion-tabs class="tabs-stable tabs-top tabs-icon-top tabs-royal">        
        
        <ion-tab title="Events" icon="ion-android-calendar" href="#/guest/events" id="home-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Volunteer" icon="ion-ribbon-b" href="#/guest/volunteer" id="home-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Activity Feed" icon="ion-android-list" href="#/guest/newsfeed" id="home-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
    
    </ion-tabs>
</ion-view>