<!--Dashboard view-->
<ion-view title="My Home" id="page111">
    
<ion-tabs class="tabs-stable tabs-top tabs-icon-top tabs-royal">        
                
     <ion-tab title="Discover" icon="ion-android-apps" href="#/home/discover" id="home-tab444">
            <ion-nav-view name="tab444"></ion-nav-view>
        </ion-tab>
    
        <ion-tab title="News Feed" icon="ion-android-hand" href="#/home/myEntityEvents" id="home-tab111">
            <ion-nav-view name="tab111"></ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Going Activities" icon="ion-android-calendar" href="#/home/registeredEvents" id="home-tab222">
            <ion-nav-view name="tab222"></ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Entities" icon="ion-ios-people" href="#/home/myEntities" id="home-tab333">
            <ion-nav-view name="tab333"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>