<ion-view cache-view="false" title="Login" hide-back-button="true" >
    <ion-content padding="true" style="background: url(img/blurry_abstract-2560x1600.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding has-header">
      
        
        <form ng-submit="login(user);">
            
            <div class="spacer" style="width: 300px; height: 36px;"></div>
            
            <h1 id="NameL" style="color:white; text-align:center;" class=" ">Hoy por ti,<br>mañana por mí.</h1>
            
            <div class="spacer" style="width: 300px; height: 41px;"></div>
            <div class="spacer" style="width: 300px; height: 25px;"></div>

    <!-- //////////////////////////////////////////////////// -->
                <label href="#" class="item item-input " >
                    <input type="text" ng-model="user.username" placeholder="Username">
                </label>
           
     <!-- /////////////////////////////////////////////////// -->
     <!-- /////////////////////////////////////////////////// -->

            <label href="#" class="item item-input ">
                <input type="password" ng-model="user.password"  placeholder="Password">
            </label>

    <!-- //////////////////////////////////////////////////// -->

            <a ng-click="login(user);" class=" button button-royal button-inline block ">Log in</a>
            
        </form>
        <a ui-sref="forgotPassword" style="margin: 0 120px 10px 0; color:#5b12b1; text-decoration:none;" >Forgot Password?</a>
        <a ui-sref="roleDecision" style="color:#5b12b1; text-decoration:none;">Join Now</a>

<!--     style="color:#5b12b1;"   class="button button-royal button-outline"-->
    </ion-content>
</ion-view>