<ion-view cache-view="false" title="Events">
    
    <style>
        #ion-content-events
        {
            background: url(img/testing.png) no-repeat center;
            background-size:cover;
        }
    </style>
    
    <ion-content padding="false" class="manual-ios-statusbar-padding" id="ion-content-events">
        
        <ion-refresher spinner="bubbles" on-refresh="doRefresh()"></ion-refresher>

        <ion-list>
            <div class="list card" ng-repeat="post in posts | orderBy: '-event_created'" >
                
                <div class="item item-avatar item item-button-right" ng-if="post.category === 'volunteering' && post.active" ng-click="goToVoluntView(post.id)">
                    <img src="{{i || 'img/volunteer.png'}}">               
                    <h2><b>{{post.title}}</b></h2>
                    Hosted by: {{post.ent_name}}<br><br>
                    Date: {{post.start_time | amCalendar:referenceTime:formats}}<br>
                    Time: {{post.start_time | amDateFormat:'h:mm a'}}<br>
                    Place: {{post.city_name}}
                    <br><br>
                </div>
                
                <div class="item item-avatar item item-button-right" ng-if="post.category === 'event' && post.active" ng-click="goToEventView(post.id)">
             
                    <img src="{{i || 'img/EventIcon.jpg'}}">               
                    <h2><b>{{post.title}}</b></h2>
                    Hosted by: {{post.ent_name}}<br><br>
                    Date: {{post.start_time | amCalendar:referenceTime:formats}}<br>
                    Time: {{post.start_time | amDateFormat:'h:mm a'}}<br>
                    Place: {{post.city_name}}
                    <br><br>
                </div>
    
                <div class="item item-avatar item item-button-right" ng-if="post.category === 'post'">
                    <img src="{{entityAdmin.photo || 'img/texticon.png'}}">
                    <h2>{{post.title}}</h2>
                    <p>Posted: <span am-time-ago="post.created"></span></p>
                </div>
            </div>
        
        </ion-list>
    </ion-content>
</ion-view>