<ion-view cache-view="false" title="Events">
    
    <style>
        #ion-content-public-events
        {
            background: #f6f7f8;
        }
        
        #text-center-public-events
        {
            text-align: center;
        }
        
        .calmer
        {
            color: #56a0ce;
        }
        
        #add-to-calendar
        {
            float: left;
            font-size: 1.618em;
        }
    </style>

    <ion-nav-buttons side="left">
 <button ng-show="u" class="button button-clear" ui-sref="home.myEntityEvents"><i class="icon ion-chevron-left" ></i> </button>

<button ng-hide="u" class="button button-clear" ui-sref="guest.events"><i class="icon ion-chevron-left" ></i> </button>
</ion-nav-buttons>
    
    <ion-content class="has-header" id="ion-content-public-events" scroll="true">
        
    <div ng-click="selectEnt({{post.ent_id}})" class="item item-avatar">
    <img ng-src="{{entityPicture || 'img/default.png'}}" >
    <h2>{{post.ent_name}}</h2>
    <p>Posted: <span am-time-ago="post.event_created"></span></p>
  </div>
         <div class="list">
            
            <div class="item">
                
                <h1 class="royal" id="align-text-events">{{post.title}}</h1><br>
                <p id="align-text-events"><b class="royal">Posted: </b><span am-time-ago="post.event_created"></span></p><br>
                <p><b class="royal">Starting date: </b> {{post.start_time | amDateFormat:'dddd, MMMM Do YYYY, h:mm a'}} </p>
                <p><b class="royal">Ending date: </b>{{post.end_time | amDateFormat:'dddd, MMMM Do YYYY, h:mm a'}}</p>
                <p><b class="royal">Place: </b> {{post.city_name}}</p>
                <br>
                <i class="icon ion-calendar royal" id="add-to-calendar" ng-click="addToCalendar(post)" > Add to Calendar</i>

            </div>
            
            <div class="item item-body">
                <div class="list">
                
                     <div class="item ">

                    <img class="full-image" ng-show="event_photo !== null" ng-src="{{event_photo}}">
                    </div>
                    <p>
                        <br>
                        <b  class="royal">Details: </b><br>{{post.description}}<br>
                    
                        <br>
                        <b class="royal">Address:</b><br> {{post.address}},<br> {{post.city_name}}, Puerto Rico, {{post.zip}}
                        <br>
                        <br>
                        <b  class="royal">Supervisor name:</b><br> {{post.supervisor_name}}
                        <br>
                        <br>
                        <b class="royal">Supervisor telephone #:</b><br> {{post.supervisor_phone}}
                        <br>
                        <br>
                        <b class="royal">Supervisor email:</b><br> {{post.supervisor_email}}
                        <br>
                        <br>
                        <b class="royal">Website:</b><br> {{post.web}}
                    </p>
                
                </div>
            </div>
             <div class="button-bar">
              <a class="button button-balanced icon-left ion-thumbsup" ng-click="going({{post.id}})" ng-if="u && notgoingg">Going</a>
              <a class="button button-energized icon-right ion-flag" ng-click="interested({{post.id}})" ng-if="u && notgoingg">Interested</a>
            </div>
             <a ng-if="u && goingg" ng-click="ungoing({{post.id}})" class="button icon-left ion-thumbsdown button button-block button-large button-assertive">Not going</a>
        </div>
        
    </ion-content>
</ion-view>