<ion-view cache-view="false" title="Going Activities">
    
    <style>
        #ion-content-events
        {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+50,a1dbff+100 */
            background: #f0f9ff; /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover,  #f0f9ff 0%, #cbebff 50%, #a1dbff 100%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover,  #f0f9ff 0%,#cbebff 50%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center,  #f0f9ff 0%,#cbebff 50%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
    </style>
    
    <ion-content padding="false" class="manual-ios-statusbar-padding" id="ion-content-events">
        
        <ion-list>
            <div class="list card" ng-repeat="post in my_activities | orderBy: '-event_created'">
                
                <div  class="item item-avatar item item-button-right" ng-if="post.category === 'volunteering'" ng-click="goToVoluntView(post.id)">
                    <img src="{{i || 'img/volunteer.png'}}">               
                    <h2><b>{{post.title}}</b></h2>
                    Hosted by: {{post.ent_name}}<br><br>
                    Date: {{post.start_time | amCalendar:referenceTime:formats}}<br>
                    Time: {{post.start_time | amDateFormat:'h:mm a'}}<br>
                    Place: {{post.city_name}}
                    <br><br>
                </div>
                
                <div class="item item-avatar item item-button-right" ng-if="post.category === 'event'" ng-click="goToEventView(post.id)">
            
                    <img src="{{i || 'img/EventIcon.jpg'}}">               
                    <h2><b>{{post.title}}</b></h2>
                    Hosted by: {{post.ent_name}}<br><br>
                    Date: {{post.start_time | amCalendar:referenceTime:formats}}<br>
                    Time: {{post.start_time | amDateFormat:'h:mm a'}}<br>
                    Place: {{post.city_name}}
                    <br><br>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>