<!--Role decision-->

<style>

#ion-content-role-decision
        {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+50,a1dbff+100 */
            background: #f0f9ff; /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover,  #f0f9ff 0%, #cbebff 50%, #a1dbff 100%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover,  #f0f9ff 0%,#cbebff 50%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center,  #f0f9ff 0%,#cbebff 50%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        }
</style>

<ion-view title="Role registration decision" hide-nav-bar="0" hide-back-button="0" cache-view="false">

    <ion-nav-buttons side="left">
        <button ng-show='0' class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    
    <ion-content id="ion-content-role-decision" padding="false" class="manual-ios-statusbar-padding" scroll="true">

        <h1 style="padding: -5px 0px -5px 0px; color:white; text-align:center;">Register as an</h1>

        <div class="list card">
            <div class="item">
                <h2 style="font-size: x-large; text-align:center;">Entity Organization</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/admin-logo.jpg">
                <p>I'm signing up to raise funds for the nonprofit I work for, post and manage volunteer opportunities and events, engage supporters, or to find out all that Involukrat can do for my organization!
                </p>
            </div>
            <a ui-sref="entityRegistration" style="font-weight:600;" class="button button-calm button-medium button-inline block icon-left ion-ios-people">
                <b>Register as entity organization</b>
            </a>
        </div>

        <h3 style="padding: 20px 10px 0px 5px; color:white; text-align:center;">or be an</h3>

        <div class="list card">
            <div class="item">
                <h2 style="font-size: x-large; text-align:center;"> Supporter</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/supporter.jpg">
                <p>I'm signing up to find volunteer opportunities, nonprofit events, fundraise for a cause I care about, or to explore all that Involukrat has to offer for nonprofit supporters!
                </p>
            </div>
            <a ui-sref="supporterRegistration" style="font-weight:600;" class="button button-calm button-medium button-inline block icon-left ion-person-add">
                <b>Register as supporter</b>
            </a>
        </div>

    </ion-content>
</ion-view>
