<!--Settings view-->
<ion-view title="Settings" id="page23">
   
    <ion-content padding="true" class="has-header" scroll="false">    
        
        <div class="list" ng-if="u || e">
            
            <div class="item item-divider custom-item-divider">
                Account Settings
            </div>
            
            <a class="item item-icon-left" ui-sref="changePassword">
                <i class="icon ion-key"></i>
                Change account password
            </a>
        
        </div>
    
    </ion-content>
</ion-view>


