<!--Settings view-->
<ion-view title="Settings" id="page23" class="">
    <ion-content style="background: url(img/blurry_abstract-2560x1600.jpg) no-repeat center;background-size:cover;" padding="true" class="has-header">
        <ion-list>
            <ion-item ng-if="e" class="item-divider custom-item-divider">
                Change Password
            </ion-item>
            
            <ion-item ng-if="e" ui-sref="changePassword">
                Choose a unique password to protect<br>your account
            </ion-item>
            
            <ion-item ng-if="u" class="item-divider">
                Change Password
            </ion-item>
            
            <ion-item ng-if="u" ui-sref="changePassword">
                Choose a unique password to protect <br>your account
            </ion-item>
            
            <br>
            
            <ion-item class="item-icon-left royal" ng-click="logout()">
                <i class="icon ion-log-out"></i>
                Logout
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>


