<ion-view title="Settings" id="page23" class=" ">
    <ion-content  style="background: #f6f7f8" padding="true" class="has-header">
<!--
        <ion-list id="settings-list34" class=" ">
           <ion-item class="item-divider " id="settings-list-item-divider10">Edit</ion-item>
        </ion-list>
-->
        <ion-list >
<!--
            <ion-item ng-if="u" class="item-icon-left  " ui-sref="editSupportersProfile">
                <i class="icon ion-edit"></i>Edit Profile</ion-item>
-->
            
<!--
            <ion-item ng-if="e" class="item-icon-left" ui-sref="editEntityProfile">
                <i class="icon ion-edit"></i>Edit Entity</ion-item>
     
        <br>
-->
        
            <ion-item ng-if="e" class="item-divider custom-item-divider">Change Password</ion-item>
            <ion-item ng-if="e" ui-sref="changePassword">
                Choose a unique password to protect <br>your account</ion-item>
            
            <ion-item ng-if="u" class="item-divider ">Change Password</ion-item>
            <ion-item ng-if="u" ui-sref="changePassword">
                Choose a unique password to protect <br>your account</ion-item>
            
            <br>
<!--        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->
            
     <ion-item class="item-icon-left royal" ng-click="logout()">
     <i class="icon ion-log-out"></i>Logout</ion-item>
        
        </ion-list>
        
        
    </ion-content>
</ion-view>


