<!--Supporter registration view-->
<ion-view title="Supporter Registration">
  
    <style>
        #input-error
        {
            color: red;
        }
        
        #label-supporter-registration
        {
            float: right;
            font-size: x-large;
            margin: 3px 13px 0 0;
        }
        
        #spacer-supporter-registration
        {
            height: 10px;
            width: 300px;
        }
    </style>
    
    <ion-nav-buttons side="left">
        <button ng-show='0' class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    
    <ion-content padding="true" class="has-header" scroll="true">
        
        <form name="myForm" class="list" novalidate>
            
            <ion-list id="supporterRegistration-list1">
                
                <div class="item item-divider">Basic Information</div>
                
                <item-divider class="item item-input item-stacked-label">
                    
                    <label class='ion-information-circled balanced' ng-click="supporterUsernameTip()" id="label-supporter-registration"></label>
                    
                    <span class="input-label">Username</span>
                    
                    <input type="text" name="username" ng-model="data.username" ng-minlength="6" ng-maxlength="20" placeholder="Username" ng-required="true" ng-pattern="/^[a-z\d\._-]{5,}$/i">
                    
                    <div ng-messages="myForm.username.$error" ng-if="myForm.username.$touched">
                        <div ng-message when="required" id="input-error">The username field is required!</div>
                        <div ng-message when="pattern" id="input-error">The username needs to be this and that!</div>
                        <div ng-message when="minlength" id="input-error">The username needs at least 6 characters long.</div>
                        <div ng-message when="maxlength" id="input-error">The username needs at less or equal than 20 characters long.</div>
                    </div>
                
                </item-divider>

                <item-divider class="item item-input item-stacked-label">
                    
                    <span class="input-label">First name</span>
                    
                    <input type="text" name="fname" ng-model="data.fname" ng-minlength="2" ng-maxlength="25" placeholder="First name" ng-required="true" ng-pattern="/^[a-zA-Z ]+$/">

                    <div ng-messages="myForm.fname.$error" ng-if="myForm.fname.$touched">
                        <div ng-message="required" id="input-error">The first name field is required!</div>
                        <div ng-message="pattern" id="input-error">The first name needs to be this and that!</div>
                        <div ng-message="minlength" id="input-error">The first name needs at least 2 characters long.</div>
                        <div ng-message="maxlength" id="input-error">The first name needs at less or equal than 25 characters long.</div>
                    </div>
                </item-divider>
                
                <item-divider class="item item-input item-stacked-label">
                    <span class="input-label">Last name</span>
                    <input type="text" name="lname" ng-model="data.lname" ng-minlength="2" ng-maxlength="25" placeholder="Last name" ng-required="true" ng-pattern="/^[a-zA-Z ]+$/">
                    
                    <div ng-messages="myForm.lname.$error" ng-if="myForm.lname.$touched">
                        <div ng-message="required" id="input-error">The last name field is required!</div>
                        <div ng-message="pattern" id="input-error">The last name needs to be this and that!</div>
                        <div ng-message="minlength" id="input-error">The last name needs at least 2 characters long.</div>
                        <div ng-message="maxlength" id="input-error">The last name needs at less or equal than 25 characters long.</div>
                    </div>
                </item-divider>

                <item-divider class="item item-input item-stacked-label">
                    <label class='ion-information-circled balanced' ng-click="supporterEmailTip()" id="label-supporter-registration"></label>
                    <span class="input-label">Email</span>
                    <input type="email" name="email" ng-model="data.email" placeholder="Email" ng-required="true">
                    
                    <div ng-messages="myForm.email.$error" ng-if="myForm.email.$touched">
                        <div ng-message="required" id="input-error">The email field is required!</div>
                        <div ng-message="email" id="input-error">The email inputted is invalid.</div>
                    </div>
                </item-divider>

                <item-divider class="item item-input item-stacked-label">
                    <span class="input-label">Confirm Email</span>
                    <input type="email" name="emailconf" ng-model="data.emailconf" placeholder="Confirm email" ng-required="true" ng-pattern="data.email">

                    <div ng-messages="myForm.emailconf.$error" ng-if="myForm.emailconf.$touched">
                        <div ng-message="required" id="input-error">The email confirmation field is required!</div>
                        <div ng-message="pattern" id="input-error">The email confirmation does not equal the email input!</div>
                        <div ng-message="email" id="input-error">The email inputted is invalid.</div>
                    </div>
                </item-divider>
                
                <item-divider class="item item-input item-stacked-label">
                    
                        <span class="input-label">Age</span>
                        <input type="number" placeholder="Age" name="age" ng-model="data.age">
                   
                    <div ng-messages="myForm.age.$error" ng-if="myForm.age.$touched">
                        <div ng-message="number" id="input-error">The age must be only a number!</div>
                    </div>
                    
                </item-divider>
                
                <item-divider class="item item-select">
                    <span class="input-label">Gender</span>
                    <select ng-model="data.gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="female">Not specified</option>
                    </select>
                </item-divider>

                <item-divider class="item item-input item-stacked-label">
                    <label class='ion-information-circled balanced' ng-click="supporterPasswordTip()" id="label-supporter-registration"></label>
                    <span class="input-label">Password</span>
                    <input type="password" name="password" ng-model="data.password" ng-minlength="8" ng-maxlength="25" placeholder="password" ng-required="true" ng-pattern="/(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*/">

                    <div ng-messages="myForm.password.$error" ng-if="myForm.password.$touched">
                        <div ng-message="required" id="input-error">The password field is required!</div>
                        <div ng-message="pattern" id="input-error">The password needs to be this and that!</div>
                        <div ng-message="minlength" id="input-error">The password needs at least 8 characters long.</div>
                        <div ng-message="maxlength" id="input-error">The password needs at less or equal than 25 characters long.</div>
                    </div>
                </item-divider>
                
                <item-divider class="item item-input item-stacked-label">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" name="passconf" ng-model="data.passconf" ng-minlength="8" ng-maxlength="25" placeholder="Confirm password" ng-required="true" ng-pattern="data.password">
                    
                    <div ng-messages="myForm.passconf.$error" ng-if="myForm.passconf.$touched">
                        <div ng-message="required" id="input-error">The password confirmation field is required!</div>
                        <div ng-message="pattern" id="input-error">The password confirmation needs to be equal to the password input!</div>
                        <div ng-message="minlength" id="input-error">The password confirmation needs at least 8 characters long.</div>
                        <div ng-message="maxlength" id="input-error">The password confirmation needs at less or equal than 25 characters long.</div>
                    </div>
                </item-divider>
             
               
                    
                    <ion-toggle
                                ng-model="data.privacy" 
                                ng-checked="data.privacy">
                        Privacy
                    </ion-toggle>
                
                
                <div class="spacer" id="spacer-supporter-registration"></div>
              
                <div class="button-bar">
                    <a ng-click="submitForm1()" type="submit" id="SRID" class="button button-positive button-block">
                        Create Account
                    </a>
                </div>
            
            </ion-list>
    
        </form>
    </ion-content>
</ion-view>
