<ion-view title="Volunteering " id="page21" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="volunteering2-card27">
            <ion-item class="item-avatar  " id="volunteering2-list-item49">
                <h2>Item</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <ion-item class="item-icon-left  " id="volunteering2-list-item51">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="volunteering2-list-item52">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="volunteering2-list-item53">
                <i class="icon ion-ionic"></i>Item</ion-item>
        </div>
    </ion-content>
</ion-view>