
<ion-view cache-view="false" title="About, Address &amp; Contact Information" id="page20" class=" ">

    <ion-content padding="true" style="background: #cbcbce" class="has-header;">    
<!--<div class="list card">-->

<ion-item class="item item-avatar-left">
  <img ng-src="{{info.background || 'img/ionic2.png'}}">
  <h2 align="center" style="color: #583faa; font-size:170%;"><b>{{info.ent_name}}</b></h2>
    <hr>
     <a class="button ion-star button-block button-royal "> Follow</a>
</ion-item>

<!--    <i class="icon ion-chevron-down"></i>      ng-click="myFunc4()"-->
<ion-item class="item-divider item-icon-right custom-item-divider"><b>About</b> </ion-item>
<!-- ng-show="showMe4"-->
        <div class="drodpown">
<!--   {{|| 'Not set!'}}-->
  <div class="item item-text-wrap">
     {{info.ent_about || 'Not set!'}}
      <br><hr>
     <b> Founded in : <span>{{info.ent_founded  | amDateFormat:'dddd, MMMM Do YYYY'}}</span></b>

<!--                  <span am-time-ago="{{info.ent_founded}}"></span>-->
   </div>
    
</div>
        
    <ion-item  class="item-divider item-icon-right custom-item-divider" ><b>Website</b> </ion-item>
        <ion-item class="item-icon-right " ng-click="website()">
           <b> {{info.ent_web || 'Not set!'}}</b><br><br>
<!--                 <a class="button ion-star button button-royal"></a>-->
<!--          <i class="icon ion-earth" style="color:#583faa"></i>-->
            
<!--                 <a class="button ion-earth button-block button-royal button-medium"> Visit Website</a>-->

        </ion-item>

<!--     <i class="icon ion-chevron-down"></i>     ng-click="myFunc2()"-->
<ion-item class="item-divider item-icon-right custom-item-divider"><b>Address</b> </ion-item>
<!--ng-show="showMe2"-->
        <div  class="drodpown">
   
    <ion-item class="item-icon-right" href="https://maps.google.com/maps?q={{info.ent_address1}} {{info.ent_address2}} {{info.city_name}} PR, {{info.ent_zip}} {{info.country_name}}">
 
<!--    <i class="icon ion-map" style="color:#583faa"></i>-->
     {{info.ent_address1}} {{info.ent_address2}}
     {{info.city_name}}, <br> {{info.ent_zip}}, {{info.country_name}}
        
<!--                         <a class="button ion-map button-block button-royal button-medium"> Visit on Map</a>-->


        
<!--     <a class="button ion-star button button-royal "></a>-->
        
<!--    <a href="http://maps.google.com/?q={{info.ent_address1}} {{info.ent_address2}} {{info.city_name}} PR, {{info.ent_zip}} {{info.country_name}}"></a>-->
        
    </ion-item>
    
</div>
<!--    custom-item-divider    <i class="icon ion-chevron-down"></i> style="color : #583faa"  ng-click="myFunc3()"-->
    <ion-item  class="item-divider item-icon-right custom-item-divider" ><b>Contact</b> </ion-item>
<!--          -->
<div class="dropdown">
       
        <ion-item class="item-icon-right" ng-click="call()">
            {{info.ent_phone || 'Not set!'}}
          <i class="icon ion-android-call"style="color:#583faa"></i>
        </ion-item>
    
        <ion-item class="item-icon-right" ng-click="call()">
            {{info.ent_fax || 'Not set!'}}
          <i class="icon ion-ios-printer"style="color:#583faa"></i>
        </ion-item>
    
        <ion-item class="item-icon-right" ng-click="mail()">
            {{info.web_email || 'Not set!'}}
          <i class="icon ion-ios-email"style="color:#583faa"></i>
        </ion-item>
    
<!--
        <ion-item class="item-icon-right " ng-click="website()">
            {{info.ent_web || 'Not set!'}}
          <i class="icon ion-ios-home"style="color:#583faa"></i>
        </ion-item>
-->
</div>
        
        <div class="spacer" style="width: 300px; height: 41px;"></div>

        
        <div id="map" data-tap-disabled="true"></div>

        
    </ion-content>
</ion-view>