<ion-view cache-view="false" title="Post">
<!--    style="box-shadow: 2px 2px 4px grey;"-->
    <ion-nav-buttons  side="right">
    <button class="button icon-left ion-ios-plus-empty" ng-click="newPost()"> Post</button>
    </ion-nav-buttons>
    
    <ion-content  class="has-header" style="background: #f6f7f8;">
<!--   #b8def5     style="background: #fafafa;"-->
<!--        style="background: url(img/blurry_abstract-2560x1600.jpg) no-repeat center;background-size:cover;"-->
        
        <br>
        
    <ion-item ng-if="e" class="item-avatar  " >
         <img src="{{entityAdmin.photo || 'img/ionic2.png'}}"><b>{{info.ent_name}}</b>
<!--        <h2><b>{{info.ent_name}}</b></h2>-->
    </ion-item>

     <p class="center" style="margin: 20px 0px;">Tap to edit</p>
        
<ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
</ion-refresher>
<ion-list >  
<div class="list card" ng-repeat="post in posts  | orderBy: '-post_created'">
  <div class="item item-avatar" ng-click="alterPost({{post.id}})">
    <img src="{{entityAdmin.photo || 'img/ionic2.png'}}">
    <h2 >{{info.ent_name}}</h2>
<!--    <p>{{post.post_created}}</p>-->
      <span am-time-ago="post.post_created"></span>

      <div item class="item-button-right">
<!--      <button ng-click="deletePost()" class=" button button-royal button-small ">Delete</button>-->
    </div>
  </div>

  <div class="item item-body">
    <p>
      {{post.post_message}}
    </p>
  </div>
      
</div>
</ion-list>
   
    </ion-content>
</ion-view>