<ion-view cache-view="false" title="Settings" id="page23">
    

    <ion-content padding="true" style="background: url(img/blurry_abstract-2560x1600.jpg) no-repeat center;background-size:cover;" class="has-header">
<!--                           <ion-nav-back-button>j</ion-nav-back-button>-->

        
<!--
         <div id="profile-bg"></div>
      <div id="contentUsers">
        <div id="profile-info">
          <img id="profile-image-users" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">
          <h3 id="profile-edit">Change Avatar</h3>
-->
<!--
        <div>            
            <ion-profile-picture ng-model="eavatar"/>
        </div>
-->
        
        <p class="center profile">
        <a ng-click="changeProfilePicture()">
           <img ng-src="{{ProfileData.profilePicture || 'img/ionic2.png'}}">
         </a>
      </p>
        
        <ion-item class="item-divider custom-item-divider">Add Background
        
         
        
        </ion-item>
<!--
        <label class="item item-input">
            <i class = "icon ion-camera" style="font-size: 40px; color: #5a2780; padding-right:1em"></i>
            <input type="file" file-model="entityAdmin.file1" >
            
            <button class="button button-royal button-outline button-small" style="padding-right: 4em;" ng-click="Submit()"> Submit </button>
            
        </label>
    
        <ion-item class="item-divider custom-item-divider">Change Wallpaper</ion-item>

        <label class="item item-input">
            
            <i class = "icon ion-camera" style="font-size: 40px; color: #5a2780; padding-right: 1em;"></i>
            <input type="file" file-model="entityAdmin.file2" >
            
        <button class="button button-royal button-outline button-small" style="padding-right: 4em;" ng-click="Submit()"> Submit </button>

            
        </label>
-->

        <ion-list>

            <form class="list">
                
                
            <ion-item class="item-divider custom-item-divider">Edit information</ion-item>
                
                <label class="item item-input "  >
<!--                    <span class="input-label">About</span>-->
                     <textarea ng-model="data.about" style="color:black" rows="5" cols="50" type="tel" placeholder="{{info.ent_about}}"></textarea>
                </label>
                
                <label class="item item-input ">
                    <span class="input-label">Entity Name</span>
                    <input type="text" name="ename" ng-model="data.ent_name"
                     placeholder="{{info.ent_name}}">
<!--                    ng-init="data.fname=info.sup_fname"-->
                </label>
                
                <label class="item item-input " >
                    <span class="input-label">Phone</span>
                    <input type="number" ng-model="data.phone" placeholder="{{info.ent_phone}}">
                </label>
                
                <label class="item item-input " >
                    <span class="input-label">Fax</span>
                    <input type="number" ng-model="data.fax" placeholder="{{info.ent_fax}}">
                </label>
                
                 <label class="item item-input " >
                    <span class="input-label">Website</span>
                    <input type="text" ng-model="data.web" placeholder="{{info.ent_web}}">
                </label>
                
                 <label class="item item-input " >
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="data.web_email" placeholder="{{info.web_email}}">
                </label>
                
                 <ion-list>
                <label class="item item-input ">
                    <span class="input-label">Street Line 1</span>
                    <input type="text" ng-model="data.address1" placeholder="{{info.ent_address1}}">
                </label>
                
                <label class="item item-input ">
                    <span class="input-label">Street Line 2</span>
                    <input type="text" ng-model="data.address2" placeholder="{{info.ent_address2}}">
                </label>
                
                <label class="item item-select " >
                    <span class="input-label">City</span>
                    <select ng-model="data.city">
                        <option value="Adjuntas">Adjuntas</option>
                        <option value="Aguada">Aguada</option>
                        <option value="Aguadilla">Aguadilla</option>
                        <option value="Aguas Buenas">Aguas Buenas</option>
                        <option value="Aibonito">Aibonito</option>
                        <option value="Añasco">Añasco</option>
                        <option value="Arecibo">Arecibo</option>
                        <option value="Arroyo">Arroyo</option>
                        <option value="Barceloneta">Barceloneta</option>
                        <option value="Barranquitas">Barranquitas</option>
                        <option value="Bayamón">Bayamón</option>
                        <option value="Cabo Rojo">Cabo Rojo</option>
                        <option value="Caguas">Caguas</option>
                        <option value="Camuy">Camuy</option>
                        <option value="Canóvanas">Canóvanas</option>
                        <option value="Carolina">Carolina</option>
                        <option value="Carolina-Isla Verde">Carolina-Isla Verde</option>
                        <option value="Cataño">Cataño</option>
                        <option value="Cayey">Cayey</option>
                        <option value="Ceiba">Ceiba</option>
                        <option value="Ciales">Ciales</option>
                        <option value="Cidra">Cidra</option>
                        <option value="Coamo">Coamo</option>
                        <option value="Comerío">Comerío</option>
                        <option value="Corozal">Corozal</option>
                        <option value="Culebra">Culebra</option>
                        <option value="Dorado">Dorado</option>
                        <option value="Fajardo">Fajardo</option>
                        <option value="Florida">Florida</option>
                        <option value="Guánica">Guánica</option>
                        <option value="Guayama">Guayama</option>
                        <option value="Guayanilla">Guayanilla</option>
                        <option value="Guaynabo">Guaynabo</option>
                        <option value="Gurabo">Gurabo</option>
                        <option value="Hatillo">Hatillo</option>
                        <option value="Hormigueros">Hormigueros</option>
                        <option value="Humacao">Humacao</option>
                        <option value="Humacao-Palmas">Humacao-Palmas</option>
                        <option value="Isabela">Isabela</option>
                        <option value="Jayuya">Jayuya</option>
                        <option value="Juana Díaz">Juana Díaz</option>
                        <option value="Juncos">Juncos</option>
                        <option value="Lajas">Lajas</option>
                        <option value="Lares">Lares</option>
                        <option value="Las Marías">Las Marías</option>
                        <option value="Las Piedras">Las Piedras</option>
                        <option value="Loíza">Loíza</option>
                        <option value="Luquillo">Luquillo</option>
                        <option value="Manatí">Manatí</option>
                        <option value="Maricao">Maricao</option>
                        <option value="Maunabo">Maunabo</option>
                        <option value="Mayagüez">Mayagüez</option>
                        <option value="Moca">Moca</option>
                        <option value="Morovis">Morovis</option>
                        <option value="Naguabo">Naguabo</option>
                        <option value="Narajitos">Naranjitos</option>
                        <option value="Orocovis">Orocovis</option>
                        <option value="Patillas">Patillas</option>
                        <option value="Peñuelas">Peñuelas</option>
                        <option value="Ponce">Ponce</option>
                        <option value="Quebradillas">Quebradillas</option>
                        <option value="Rincón">Rincón</option>
                        <option value="Río Grande">Río Grande</option>
                        <option value="Sabana Grande">Sabana Grande</option>
                        <option value="Salinas">Salinas</option>
                        <option value="San Germán">San Germán</option>
                        <option value="San Juan">San Juan</option>
                        <option value="San Juan, Condado">San Juan, Condado</option>
                        <option value="San Juan, Hato Rey">San Juan, Hato Rey</option>
                        <option value="San Juan, Santurce">San Juan, Santurce</option>
                        <option value="San Juan, Viejo San Juan">San Juan, Viejo San Juan</option>
                        <option value="San Lorenzo">San Lorenzo</option>
                        <option value="San Sebastián">San Sebastián</option>
                        <option value="Santa Isabel">Santa Isabel</option>
                        <option value="Toa Alta">Toa Alta</option>
                        <option value="Toa Baja">Toa Baja</option>
                        <option value="Toa Baja, Levittown">Toa Baja, Levittown</option>
                        <option value="Trujillo Alto">Trujillo Alto</option>
                        <option value="Utuado">Utuado</option>
                        <option value="Vega Alta">Vega Alta</option>
                        <option value="Vega Baja">Vega Baja</option>
                        <option value="Vieques">Vieques</option>
                        <option value="Villalba">Villalba</option>
                        <option value="Yabucoa">Yabucoa</option>
                        <option value="Yauco">Yauco</option>
                    </select>
                </label>           
                
                   <label class="item item-select " >
                    <span class="input-label">State</span>
                    <select ng-model="data.country">
                    <option value="Puerto Rico">Puerto Rico</option>
                    </select>
                </label>
                
                 <label class="item item-input " >
                    <span class="input-label">Zip Code</span>
                    <input type="text" placeholder="{{info.ent_zip}}" ng-model="data.zip" >
                </label>
<!--                     ui-sref="entityProfile"-->
            <div class="button-bar button-pill">
             <a ng-click="UpdateData()" class=" button button-royal  button-block ">Save</a>
            </div>
                
            </form>
            
        </ion-list>
    </ion-content>