<ion-view cache-view="false" title="Events">
    
    <style>
        #ion-content-events
        {
            background: url(img/testing.png) no-repeat center;
            background-size:cover;
        }
    </style>
    
    <ion-nav-buttons  side="right">
        <button class="button icon-left ion-calendar" ng-click="newPost()"> Create</button>
    </ion-nav-buttons>
    
    <ion-content id="ion-content-events" padding="false">
        
        <ion-refresher spinner="bubbles" on-refresh="doRefresh()"></ion-refresher>
        
        <ion-list>  
            <div class="list card" ng-repeat="post in posts | orderBy: '-event_created'">
                <div class="item item-avatar item item-button-right" ng-click="goToEventView(post.id)">
            
                    
                    <img ng-src="{{photos || 'img/EventIcon.jpg'}}">
                    
                    <a ng-click="alterPost(post, $index, $event)" class="button button-icon icon icon-right ion-android-more-vertical royal"></a>                
                    <h2><b>{{post.title}}</b></h2>
                    Date: {{post.start_time | amCalendar:referenceTime:formats}}<br>
                    Time: {{post.start_time | amDateFormat:'h:mm a'}}<br>
                    Place: {{post.city_name}}
                </div>
                <div class="button-bar">
                    <a class="button"><b>Going #</b></a>
                    <a class="button"><b>Interested #</b></a>
                </div>
            </div>
        </ion-list>
    
    </ion-content>
</ion-view>