<ion-view title="BPPR APP" hide-back-button="1">
    
    <ion-content scroll="false">
    
        <div class="card">
            
            <div class="item item-divider">Your registration was successful!</div>
            
            <div class="item item-text-wrap">
                You will recieve an email shortly. It contains the instructions for activating your account so you can help the world!
                <a class="button button-positive" ui-sref="login">
                    Go to main page (login)
                </a>
            </div>
            
            <div class="item item-divider">
                Note: If you do not see the email in your inbox, please verify your junk email folder.
            </div>
        
        </div>
        
    </ion-content>
</ion-view>