<ion-view cache-view="false" title="{{entity_information.ent_name}}">
  
    <style>
        #spacer-entity-profiles
        {
            height: 0px;
            width: 300px;
        }
        
        #entity-name-entity-profiles
        {
            color: #262627;
            font-size: 170%;
        }

        #entity-about-entity-profiles
        {
            color: #56a0ce;
            margin-left: 5%;
        }
        
        #img-entity-profile
        {
            vertical-align: middle;
        }
        
        #info-headers
        {
            margin-left: 3%;
        }
        
        #list-background-gradient
        {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+50,a1dbff+100 */
            background: #f0f9ff; /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover,  #f0f9ff 0%, #cbebff 50%, #a1dbff 100%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover,  #f0f9ff 0%,#cbebff 50%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center,  #f0f9ff 0%,#cbebff 50%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        }
    </style>
    
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    
    <ion-content overflow-scroll='false' delegate-handle="userDetailContent" header-shrink scroll-event-interval="5">
    </ion-content>
    
    <ion-content has-header="true">
        
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        
        <div class="spacer" id="spacer-entity-profiles"></div>
        
        <div class="about-header">
            
            <ion-slide-box auto-play="false" show-pager="false">
                
                <div class="profile-media">
                    <div class="profile-details">
                        <h2 class="color-white"><b>{{entityAdmin.name}}</b></h2>
                    </div>
                    <img ng-src="{{entityPicture || 'img/default.png'}}" class="about-image profile-background-image" id="img-entity-profile">
                </div>
                
            </ion-slide-box>
            
        </div>
        
        <div id="profile-bg"></div>
        <div id="content">
            <div id="profile-info"></div>
        </div>
        
        <div class="row">
            
            <div class="col text-right">
                <a ng-if="!following" ng-show="supporter" ng-click="follow({{entity_information.ent_id}})" class="button icon-left ion-star button-small button-royal" style="border-radius: 34px;"> Follow</a>
                <a ng-if="following" ng-click="unfollow({{entity_information.ent_id}})" class="button icon-left ion-star button-small button-royal" style="border-radius: 34px;"> Unfollow</a>
                <h2 align="center" id="entity-name-entity-profiles"><b>{{entity_information.ent_name}}</b></h2>
            </div>
        </div>
        <h4 class="royal" id="info-headers">About</h4>
        <hr>
        <p id="entity-about-entity-profiles">{{entity_information.ent_about}}</p>
        <p class="button button-small icon-left ion-android-list button-royal" style="border-radius: 34px; margin: 8px 13px 13px 8px;" ui-sref="publicAbout"> View more</p>
        
        <ion-list>
        <h4 class="royal" id="info-headers">Events and volunteering <a style="color: black;">({{posts.length}})</a></h4>
            <hr>
            <h5 ng-if="postsQuantity === 0" style="text-align: center;">{{entity_information.ent_name}} has not yet made any event and volunteering posts yet.</h5>
            <div class="list card" ng-repeat="post in posts | orderBy: '-event_created'" id="list-background-gradient">
            
                <div class="item item-avatar item" ng-if="post.category === 'volunteering' && post.active" ng-click="goToVoluntView(post.id)">
                    <img src="{{i || 'img/volunteer.png'}}">
                    <i style="float: right;" class="icon ion-chevron-right"></i>
                    <h2><b>Volunteering</b></h2>{{post.title}}
                    <h2><b></b></h2>
                    Hosted by: {{post.ent_name}}<br><br>
                    Date: {{post.start_time | amCalendar:referenceTime:formats}}<br>
                    Time: {{post.start_time | amDateFormat:'h:mm a'}}<br>
                    Place: {{post.city_name}}                   

                    <br><br>
                </div>
                
                <div class="item item-avatar item" ng-if="post.category === 'event' && post.active" ng-click="goToEventView(post.id)">
                    <img src="{{i || 'img/EventIcon.jpg'}}">
                    <i style="float: right;" class="icon ion-chevron-right"></i>
                    <h2><b>Event</b></h2>
                    <h2><b>{{post.title}}</b></h2>
                    Hosted by: {{post.ent_name}}<br><br>
                    Date: {{post.start_time | amCalendar:referenceTime:formats}}<br>
                    Time: {{post.start_time | amDateFormat:'h:mm a'}}<br>
                    Place: {{post.city_name}}
                    <br><br>
                </div>
    
                <div class="item item-avatar item item-button-right" ng-if="post.category === 'post'">
                    <img src="{{entityAdmin.photo || 'img/texticon.png'}}">
                     <h2><b>Post</b></h2>
                    <h2>{{post.title}}</h2>
                    <p>Posted: <span am-time-ago="post.created"></span></p>
                </div>
            
            </div>
        
        </ion-list>
        
        <div>
            <button class="button button-block button-royal" ng-click="scrollTop()" ng-if="scrollToTheTopButton">Scroll to Top!</button>
        </div>

    </ion-content>
</ion-view>