<ion-view cache-view="false" title="Events">
 
    </ion-nav-buttons>
    <style>
        #ion-content-events
        {
            background: #f6f7f8;
        }
        
        #align-text
        {
            text-align: center;
        }
        
        #add-to-calendar
        {
            float: right;
            font-size: 2.618em;
        }
        
    </style>
    
    <ion-nav-buttons side="right">
        <button class="button icon-right ion-edit" ng-click="goToEdit()">  </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
 <button class="button button-clear" ui-sref="dashboard.Eevents"><i class="icon ion-chevron-left" ></i> </button>
</ion-nav-buttons>
    <ion-content class="has-header" id="ion-content-events" scroll="true">
                
        <div class="list">
            <div class="item">
                <h1 class="calm" id="align-text-events">{{post.title}}</h1>
                <p id="align-text-events"><b class="calm">Posted: </b><span am-time-ago="post.event_created"></span></p>
                <p><b class="royal">Starting date: </b> {{post.start_time | amDateFormat:'dddd, MMMM Do YYYY, h:mm a'}}</p>
                <p><b class="royal">Ending date: </b>{{post.end_time | amDateFormat:'dddd, MMMM Do YYYY, h:mm a'}}</p>
                <p><b class="royal">Place: </b> {{post.city_name}}</p>
                <i class="icon ion-calendar" id="add-to-calendar" ng-click="addToCalendar(post)"></i>
            </div>
            
            <div class="item item-body">
                <div class="list">
                
                   
                    <img class="full-image" ng-show="event_photo !== null" ng-src="{{event_photo}}">
                    <p>
                        <b  class="calm">Details:</b><p>{{post.description}}</p>
                    </p>
                    
                    <p>
                        <b class="calm">Address:</b> <p>{{post.address}}, {{post.city_name}}, Puerto Rico, {{post.zip}}</p>

                    </p> 
                    <p>
                        <b  class="calm">Supervisor name:</b> <p>{{post.supervisor_name}}</p>
                    </p>
                    
                    <p>
                        <b class="calm">Supervisor telephone #:</b> <p>{{post.supervisor_phone}}</p>
                    </p>
                    
                    <p>
                        <b class="calm">Supervisor email:</b> <p>{{post.supervisor_email}}</p>
                    </p>
                
                </div>
            </div>
        </div>
        
    </ion-content>
</ion-view>