<ion-view cache-view="false" title="Volunteerings">
    
    <style>
        #ion-content-evolunteerings
        {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+50,a1dbff+100 */
            background: #f0f9ff; /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover,  #f0f9ff 0%, #cbebff 50%, #a1dbff 100%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover,  #f0f9ff 0%,#cbebff 50%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center,  #f0f9ff 0%,#cbebff 50%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
    </style>
    
    <ion-nav-buttons  side="right">
        <button class="button icon-left ion-calendar" ng-click="newPost()"> Create</button>
    </ion-nav-buttons>
    
    <ion-content padding="false" id="ion-content-evolunteerings">
        
        <ion-refresher spinner="bubbles" on-refresh="doRefresh()"></ion-refresher>    
        
        
        <div ng-if="post == 'undefined'" class="list card">
            <div class="item item-image">
                <img id="profile-image-login role_card_img" src="img/emptyEvents.png">
            </div>
            <a ui-sref="home.discover" id="role_card_button" class="button button-balanced button-large button-inline block icon-left ion-ios-paper">
                <b>Explore Activites</b>
            </a>
        </div>
        <ion-list>
            
            <div class="card list" ng-repeat="post in posts | orderBy: '-vol_created'">
                
                <div class="item item-avatar item item-button-right" ng-click="goToVoluntView(post.id)">
                    <img src="{{entityAdmin.photo || 'img/volunteer.png'}}">
                    <a ng-click="alterPost(post.id,$event)" class="button button-icon icon icon-right ion-android-more-vertical royal"></a>
                    
                    <h2><b>{{post.title}}</b></h2>
                    Date: {{post.start_time | amCalendar:referenceTime:formats}}<br>
                    Time: {{post.start_time | amDateFormat:'h:mm a'}}<br>
                    Place: {{post.city_name}}
                    <div item ng-click="goToVoluntView(post.id)" class="item-button-right"></div>
                
                </div>
                
                <div class="button-bar">
                    <a class="button"><b>Going {{post.going}}</b></a>
                    <a class="button"><b>Needed {{post.needed}}</b></a>
                </div>
                
            </div>
        
        </ion-list>
    
    </ion-content>
</ion-view>