<ion-view title="Create a Volunteering Opportunity" id="page10" class=" ">
  <ion-content padding="true"  class="has-header" style="background: url(img/blurry_abstract-2560x1600.jpg) no-repeat center;background-size:cover;">
        
       
<!--      <button ui-sref="searchSupporters" id="SRID" class=" button button-royal  button-block ">Search for Volunteers</button>-->
      
      
            <form>
<!--            Details of the Volunteering Opportunity-->
            <ion-item ng-click="voluntSection()"class="item-divider item-icon-right custom-item-divider"><b>Create a Volunteering Opportunity</b> <i class="icon ion-chevron-down"></i></ion-item>
            <!--    <i class="icon ion-location"> </i> -->
            <div ng-show="showVolunt" class="drodpown">
                
<!--            <ion-item class="item-divider custom-item-divider " > </ion-item>-->
            

            <item-divider class="item item-input">
            <button ng-click="tip1()" class="icon ion-information-circled button button-small button-clear button-positive" style="padding-left: 1px; "></button>
            <span class="input-label">Name</span>
            <input type="text" ng-model="" placeholder="Name of Volunteer Opportunity">   
            </item-divider>
        
            
            <item-divider class="item item-input">
            <button ng-click="tip2()" class="icon ion-information-circled button button-small button-clear button-positive" style="padding-left: 1px; "></button>
            <span class="input-label">Role Description</span>
            <textarea ng-model="test" rows="5"  placeholder="Description">Opportunity Description</textarea>
<!--            <input type="text"  placeholder="">-->
            </item-divider>
                
            <item-divider class="item item-input">
                <button ng-click="tip3()" class="icon ion-information-circled button button-small button-clear button-positive" style="padding-left: 1px; "></button>
                <span class="input-label">Application<br>Procedure</span>
            <textarea ng-model="test1" rows="3"  placeholder="Application Process"></textarea>
<!--            <input type="text"  placeholder="">-->
            </item-divider>
                
            <item-divider class="item item-input">
                <span class="input-label">Hours of Work</span>
            <textarea ng-model="test1" rows="3"  placeholder="Application Process"></textarea>
            </item-divider>
     
            <item-divider class="item item-input">
                <span class="input-label">Volunteers Quantity</span>
            <textarea ng-model="test1" rows="3"  placeholder="Application Process"></textarea>
            </item-divider>
                
<!--            <div class="spacer" style="width: 300px; height: 18px;"></div>-->
            
            <ion-item class="item-divider custom-item-divider" >Volunteers Required Skills</ion-item>

            <label class="item item-select " >
            <span class="input-label">Assign Category</span>
            <select ng-model="">
<!--
            <option value="Animals">Animals</option>
            <option value="Health">Health</option>
            <option value="Environment">Environment</option>
            <option value="Education">Education</option>
            <option value="Human Rights">Human Rights</option>
            <option value="Human Services">Human Services</option>
            <option value="Children">Children</option>
            <option value="Hunger">Hunger</option>
            <option value="Disaster Relief">Disaster Relief</option>
            <option value="International">International</option>-->
              </select>

        </label>
                
                
<!--            <div class="spacer" style="width: 300px; height: 18px;"></div>-->

            <ion-item class="item-divider custom-item-divider" >Date/Time</ion-item>

            <label class="item item-input" >
                <span class="input-label">Start Time</span>
                            <input type="datetime-local" ng-model="data.start_time" placeholder="">
            </label>
                
            <label class="item item-input" >
                <span class="input-label">End Time</span>
                            <input type="datetime-local" ng-model="data.end_time" placeholder="">
            </label>

            
<!--            <div class="spacer" style="width: 300px; height: 18px;"></div>-->
                
            <ion-item class="item-divider custom-item-divider" >Contact Information</ion-item>
            <ion-list>
                
                <label class="item item-input ">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="" placeholder="">
                </label>
                
                 <label class="item item-input ">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="" placeholder="">
                </label>
                
                  <label class="item item-input ">
                    <span class="input-label">Phone number</span>
                    <input type="text" ng-model="" placeholder="">
                </label>
                
            </ion-list>
<!--            <div class="spacer" style="width: 300px; height: 18px;"></div>-->
                
                  <ion-item class="item-divider custom-item-divider" >Addresss</ion-item>
            
            <label class="item item-input">
            <textarea style="color:black" ng-model="data.address" rows="3"  placeholder="Enter Full Address Here"></textarea>
            </label>

<!--
            <ion-item class="item-divider custom-item-divider">Location Information</ion-item>
            
             <ion-list>
                 
                
                <label class="item item-input ">
                    <span class="input-label">Street Line 1</span>
                    <input type="text" ng-model="" placeholder="">
                </label>
                
                <label class="item item-input ">
                    <span class="input-label">Street Line 2</span>
                    <input type="text" ng-model="" placeholder="">
                </label>
                
                <label class="item item-select " >
                    <span class="input-label">City</span>
                    <select ng-model="">
                        <option value="Adjuntas">Adjuntas</option>
                        <option value="Aguada">Aguada</option>
                        <option value="Aguadilla">Aguadilla</option>
                        <option value="Aguas Buenas">Aguas Buenas</option>
                        <option value="Aibonito">Aibonito</option>
                        <option value="Añasco">Añasco</option>
                        <option value="Arecibo">Arecibo</option>
                        <option value="Arroyo">Arroyo</option>
                        <option value="Barceloneta">Barceloneta</option>
                        <option value="Barranquitas">Barranquitas</option>
                        <option value="Bayamón">Bayamón</option>
                        <option value="Cabo Rojo">Cabo Rojo</option>
                        <option value="Caguas">Caguas</option>
                        <option value="Camuy">Camuy</option>
                        <option value="Canóvanas">Canóvanas</option>
                        <option value="Carolina">Carolina</option>
                        <option value="Carolina-Isla Verde">Carolina-Isla Verde</option>
                        <option value="Cataño">Cataño</option>
                        <option value="Cayey">Cayey</option>
                        <option value="Ceiba">Ceiba</option>
                        <option value="Ciales">Ciales</option>
                        <option value="Cidra">Cidra</option>
                        <option value="Coamo">Coamo</option>
                        <option value="Comerío">Comerío</option>
                        <option value="Corozal">Corozal</option>
                        <option value="Culebra">Culebra</option>
                        <option value="Dorado">Dorado</option>
                        <option value="Fajardo">Fajardo</option>
                        <option value="Florida">Florida</option>
                        <option value="Guánica">Guánica</option>
                        <option value="Guayama">Guayama</option>
                        <option value="Guayanilla">Guayanilla</option>
                        <option value="Guaynabo">Guaynabo</option>
                        <option value="Gurabo">Gurabo</option>
                        <option value="Hatillo">Hatillo</option>
                        <option value="Hormigueros">Hormigueros</option>
                        <option value="Humacao">Humacao</option>
                        <option value="Humacao-Palmas">Humacao-Palmas</option>
                        <option value="Isabela">Isabela</option>
                        <option value="Jayuya">Jayuya</option>
                        <option value="Juana Díaz">Juana Díaz</option>
                        <option value="Juncos">Juncos</option>
                        <option value="Lajas">Lajas</option>
                        <option value="Lares">Lares</option>
                        <option value="Las Marías">Las Marías</option>
                        <option value="Las Piedras">Las Piedras</option>
                        <option value="Loíza">Loíza</option>
                        <option value="Luquillo">Luquillo</option>
                        <option value="Manatí">Manatí</option>
                        <option value="Maricao">Maricao</option>
                        <option value="Maunabo">Maunabo</option>
                        <option value="Mayagüez">Mayagüez</option>
                        <option value="Moca">Moca</option>
                        <option value="Morovis">Morovis</option>
                        <option value="Naguabo">Naguabo</option>
                        <option value="Narajitos">Naranjitos</option>
                        <option value="Orocovis">Orocovis</option>
                        <option value="Patillas">Patillas</option>
                        <option value="Peñuelas">Peñuelas</option>
                        <option value="Ponce">Ponce</option>
                        <option value="Quebradillas">Quebradillas</option>
                        <option value="Rincón">Rincón</option>
                        <option value="Río Grande">Río Grande</option>
                        <option value="Sabana Grande">Sabana Grande</option>
                        <option value="Salinas">Salinas</option>
                        <option value="San Germán">San Germán</option>
                        <option value="San Juan">San Juan</option>
                        <option value="San Juan, Condado">San Juan, Condado</option>
                        <option value="San Juan, Hato Rey">San Juan, Hato Rey</option>
                        <option value="San Juan, Santurce">San Juan, Santurce</option>
                        <option value="San Juan, Viejo San Juan">San Juan, Viejo San Juan</option>
                        <option value="San Lorenzo">San Lorenzo</option>
                        <option value="San Sebastián">San Sebastián</option>
                        <option value="Santa Isabel">Santa Isabel</option>
                        <option value="Toa Alta">Toa Alta</option>
                        <option value="Toa Baja">Toa Baja</option>
                        <option value="Toa Baja, Levittown">Toa Baja, Levittown</option>
                        <option value="Trujillo Alto">Trujillo Alto</option>
                        <option value="Utuado">Utuado</option>
                        <option value="Vega Alta">Vega Alta</option>
                        <option value="Vega Baja">Vega Baja</option>
                        <option value="Vieques">Vieques</option>
                        <option value="Villalba">Villalba</option>
                        <option value="Yabucoa">Yabucoa</option>
                        <option value="Yauco">Yauco</option>
                    </select>
                </label>
                
                
                <label class="item item-input " >
                    <span class="input-label">Country</span>
                    <input type="text" ng-model="" placeholder="">
                </label>
                
                <label class="item item-input " >
                    <span class="input-label">ZIP Code</span>
                    <input type="text" ng-model="" placeholder="">
                </label>
                
                
            </ion-list>
-->
            
        <a ng-click="submitForm2()" ui-sref="animal" id="SRID" class=" button button-royal  button-block ">Create Volunteering Opportunity</a>
                        
        </form>
                
                
                
            </div>
                
                          <div class="spacer" style="width: 300px; height: 20px;"></div>

        <ion-item ng-click="voluntSearch()"class="item-divider item-icon-right custom-item-divider"><b>Search for volunteers</b> <i class="icon ion-chevron-down"></i></ion-item>
            <div ng-show="showSearch" class="drodpown">
            
           <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Email">
            </label>
            <button class="button button-small button-royal">
              Submit
            </button>
          </div>
            
            <item-divider class="item item-input">
            <button ng-click="tip1()" class="icon ion-information-circled button button-small button-clear button-positive" style="padding-left: 1px; "></button>
            <span class="input-label">Name</span>
            <input type="text" ng-model="" placeholder="Name of Volunteer Opportunity">   
            </item-divider>

        </div>
                
                
                                          <div class="spacer" style="width: 300px; height: 20px;"></div>

                
             <ion-item ng-click="searchVolunt()"class="item-divider item-icon-right custom-item-divider"><b>Search for volunteers</b> <i class="icon ion-chevron-down"></i></ion-item>
        <div ng-show="showSearch" class="drodpown">
            
           <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Email">
            </label>
            <button class="button button-small button-royal">
              Submit
            </button>
          </div>

        </div>
      
                                <div class="spacer" style="width: 300px; height: 20px;"></div>

      
        <ion-item ng-click="searchVolunt()"class="item-divider item-icon-right custom-item-divider"><b>Search for volunteers</b> <i class="icon ion-chevron-down"></i></ion-item>
        <div ng-show="showSearch" class="drodpown">
            
           <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Email">
            </label>
            <button class="button button-small button-royal">
              Submit
            </button>
          </div>

        </div>
                
                
      
                
                
                
                
                
                
                
                
                
                
                
                
 
     
      
    </ion-content>
</ion-view>