<ion-view cache-view="false" title="Volunteering Opportunities">
    
    <ion-content class="has-header">       
        
        <ion-list>  
    
            <div class="list card">            
                
                <div class="item item-text-wrap"><b>Title: </b>{{post.title}}</div>
                
                <div class="list card">      
                    
                    <div class="item item-text-wrap">
                        <p><b>Role Description: </b></p>{{post.description}}
                    </div>
                    
                    <div class="item item-text-wrap">
                        <p><b>Application Procedure</b></p>
                        {{post.app_procedure}}
                    </div>
        
                    <div class="item item-text-wrap">
                        <p><b>Website: </b></p>
                        {{post.web}}
                    </div>      

                    <div class="item item-text-wrap">
                        <p><b>Hours of Work</b></p>
                        {{post.work_hours}}
                    </div>
        
                    <div class="item item-text-wrap">
                        <p><b>Volunteers Quantity</b></p>
                        {{post.num_of_ppl}}
                    </div>
            
                    <div class="item item-text-wrap">
                        <p><b>From: </b></p>
                        <span>{{post.start_time | amDateFormat:'dddd, MMMM Do YYYY, h:mm a'}}</span> 
                        <p><b>to: </b></p>
                        <span>{{post.end_time | amDateFormat:'dddd, MMMM Do YYYY, h:mm a'}}</span>          
                    </div>
                    
                    <ion-item class="item item-text-wrap" href="https://maps.google.com/maps?q={{post.address}}">
                        <p><b>Direction: </b></p>{{post.address1}} {{post.address2}} {{post.zip}}
                    </ion-item>
                    
                    <ion-item class="item item-text-wrap" href="https://maps.google.com/maps?q={{post.address}}">
                        <p><b>Specific Direction of Location: </b></p>{{post.location_description}}
                    </ion-item>
                    
                    <div class="item item-text-wrap">
                        <p><b>Name: </b></p>{{post.supervisor_name}}
                    </div>        
                    
                    <div class="item item-text-wrap">
                        <p><b>Email: </b></p>{{post.supervisor_email}}
                    </div>        
                    
                    <div class="item item-text-wrap">
                        <p><b>Phone Number: </b></p>{{post.supervisor_phone}}
                    </div>        
                </div>
            </div>

        </ion-list>
    
    </ion-content>
</ion-view>